@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.lato-font {
    font-family: "Lato", serif;
    /* font-style: normal; */
}

.active-btn{
    background-color: brown;
}
html {
  scroll-behavior: smooth;
}